body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.red-color{
    color: rgb(255, 0, 0);
}
section{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
    
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    padding: 10px 40px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(online-eidit/top-banner.png);
    background-repeat: no-repeat;
}